backports.weakref==1.0.post1
bleach==1.5.0
boto==2.38.0
chardet==2.3.0
crcmod==1.7
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
google-compute-engine==2.8.2
html5lib==0.9999999
Markdown==2.6.11
mock==2.0.0
numexpr==2.6.5
numpy==1.14.5
pbr==4.0.4
protobuf==3.6.0
requests==2.9.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.10.0
sklearn==0.0
tables==3.4.4
tensorflow==1.15.2
tensorflow-tensorboard==0.4.0
urllib3==1.13.1
virtualenv==16.0.0
Werkzeug==0.14.1
